@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  overflow-x: hidden;
}
body {
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
/* *********************NAVBAR******************************** */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}
section {
  min-height: 100vh;
  padding: 2rem 9%;
}
.heading {
  /*all heading style*/
  font-size: 3.1rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}
header .logo {
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;
  color: #0e2431;
}
header .logo i {
  font-size: 2rem;
}
header .logo:hover {
  color: #fc8c05;
}
header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li {
  margin-left: 2.2rem;
}
header .navbar ul li a {
  font-size: 1.3rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #230b92;
  border-bottom: 0.2rem solid #230b92;
  padding: 0.5rem 0;
}
/* navbar ends */

/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: none;
  color: rgb(24, 2, 63);
  display: none;
}
@media (max-width: 768px) {
  #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    /* top: 6.5rem;
    right: -120%; */
    top: 5rem;
    right: 0%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
  }
  .navbarGo {
    transform: translate(486px, 0px);
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #011aff;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}
/* hamburger icon ends */

/* *********************HEADER CONTENT********************** */

/* ----------------hero section Styling Start------------------------- */
#home {
  display: flex;
  width: 100vw;
  height: 88vh;
  justify-content: center;
  text-align: center;
  /* background-color: red; */
}
/****** home background ****** */
.bg {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.homeContainer {
  /* background-color: blue; */
  display: flex;
  width: 100vw;
  height: 80vh;
  position: relative;
  top: 2em;
  grid-column: auto;
}

.avatar {
  position: relative;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  left: 51rem;
  top: 2em;
  opacity: 100;
}
/* *****animation OF avatar starts **********/
.circle {
  position: absolute;
  left: 51rem;
  top: 32px;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  mix-blend-mode: screen;
}
.red {
  background: #f00;
  animation: uOrbit 6s linear infinite;
}
.green {
  background: #0f0;
  animation: uOrbit 3s linear infinite;
}
.blue {
  background: #00f;
  animation: sOrbit 2s linear infinite;
}

.red,
.green,
.blue {
  filter: blur(4px);
}

@keyframes sOrbit {
  from {
    transform: rotate(360deg) translateX(-6px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translateX(-6px) rotate(0deg);
  }
}

@keyframes uOrbit {
  from {
    transform: rotate(0deg) translateX(9px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(9px) rotate(-360deg);
  }
}

/* *****animation OF avatar ends **********/

/* ********Home info styling starts******** */
.homeInfo {
  position: relative;
  top: 38px;
  right: 14em;
  /* background-color: yellow; */
  height: 70vh;
  width: 50vw;
}
#home .homeInfo h3 {
  font-size: 3rem;
  font-weight: 800;
  color: #fffcfd;
}
#home .homeInfo h3 span {
  font-size: 3rem;
  font-weight: 800;
  color: #ff7b00;
}
#home .homeInfo p {
  font-size: 2rem;
  color: #ff7b00;
  font-weight: 600;
  padding: 1rem 0;
}
#home .homeInfo p span {
  font-size: 2rem;
  color: #fffcfd;
  font-weight: 600;
  padding: 1rem 0;
}
#home .btn {
  line-height: 4;
  padding: 1.4rem 2rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
#home .btn span {
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}
#home .btn i {
  margin-left: 0.2rem;
  font-size: 1.2rem;
  transition: 0.6s;
}
#home .btn:hover {
  background: #1a047e;
}
#home .btn:hover {
  background: #1a047e;
}
#home .btn:hover i {
  transform: rotateX(180deg) translateX(5px);
}
/* social styling */
/* social icons start */
.socials {
  position: relative;
  margin-top: 1rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #00d9ff;
  background-color: #09011b;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}
.social-icons a.github:hover {
  background-color: #0e0e0e;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dev:hover {
  background-color: #070707;
}
.social-icons a.instagram:hover {
  background-color: #ee00da;
}
/* social icons end */
/************************* hero media queries starts************************/
@media (max-width: 1055px) {
  #home .btn {
    margin: 4rem 0;
    text-align: start;
  }
  .socials {
    margin-top: 2rem;
  }
  #home .homeInfo p {
    font-size: 2.2rem;
  }
  #home .homeInfo p span {
    font-size: 2.2rem;
  }
  #home .avatar-element {
    display: none;
  }

  #home .homeInfo {
    position: relative;
    left: 10vw;
    width: 69vw;
    height: 73vh;
  }
}
/* @media (max-width: 365px){
  #home .homeInfo{
    position: relative;
    background-color: green;
    top: 133px;
    left: 0vw;
    width: 100vw;
    height: 48vh;
  } */

/***** hero media queries end****/
/* ****************************************HERO SECTION END***************************************** */

/* *****************************ABOUR SECTION START******************************** */
.about {
  background: rgb(255, 255, 255);
}
.about .heading span {
  color: orange;
}
.about .row {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 2rem;
  padding: 4rem;
  /* background-color: red; */
  position: relative;
  width: 100vw;
  right: 8.6vw;
}
.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
}
.about .row .image img {
  margin: 4rem;
  width: 20rem;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  /* Blend mode to create black and white image */
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: none;
}
.about .row .image img:hover {
  mix-blend-mode: normal;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}
.about .row .content h3 {
  color: rgb(27, 27, 27);
  font-size: 2.5rem;
}
.about .row .content .tag {
  font-size: 1.4rem;
  color: #020133;
  font-weight: 600;
  margin-top: 1rem;
}
.about .row .content p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
}
.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
}
.about .row .content .box-container .box p {
  text-transform: none;
}
.about .row .content .box-container .box p span {
  color: #ff7b00;
}
.resumebtn {
  margin-top: 4rem;
}
.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}
.resumebtn .btn:hover {
  background: #1a047e;
}
.resumebtn .btn:hover i {
  transform: translateX(5px);
}
/* about media queries starts*/
@media screen and (max-width: 970px) {
  .about .row {
    display: flex;
    flex-wrap: wrap;
  }
  .about .row .image {
    margin-top: 2rem;
  }
  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }
  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .about .row .content {
    padding: 5rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}
/* about media queries ends*/
/* ********************ABOUT SECTION END********************** */

/* _______________________Skill SECTION STARTS____________________ */
.skills {
  background: linear-gradient(to bottom, #57059e, #4a00e0);
}
.skills h2 {
  color: #fff;
}
.skills .heading span {
  color: rgb(255, 230, 0);
}
.skills .container {
  background: rgba(0, 0, 22, 0.4);
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
}
.skills .container .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  margin-left: 4%;
  margin-top: 2%;
}
.skills .container .row .col {
  display: grid;
}
.skills .container .col {
  position: relative;
  width: 90%;
  color: #fff;
  margin-top: 0.5rem;
}
.skills .container .col .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 22, 0.9);
  transition: 0.2s;
}
.skills .container .col .bar:hover {
  transform: translateX(12px);
  box-shadow: 0 5px 8px rgba(0, 2, 68, 0.4);
}
.skills .container .col .bar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.skills .container .col .bar .info i {
  font-size: 2rem;
}
.skills .container .col .bar .info span {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Poppins";
  margin-left: 0.5rem;
}
.skills .container .col .bar .line {
  position: relative;
  width: 100%;
  height: 10px;
  background: rgb(212, 211, 211);
  border-radius: 6px;
}
.skills .container .col .bar .line:before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
}
.skills .container .col .bar .html:before {
  width: 98%;
  background: #e03d0b;
}
.skills .container .col .bar .css:before {
  width: 95%;
  background: #2962ff;
}
.skills .container .col .bar .javascript:before {
  width: 90%;
  background: #ffd900;
}
.skills .container .col .bar .bootstrap:before {
  width: 85%;
  background: #3d10dd;
}
.skills .container .col .bar .java:before {
  width: 80%;
  background: #8054c7;
}
.skills .container .col .bar .cpp:before {
  width: 82%;
  background: #f38b03;
}
.skills .container .col .bar .reactjs:before {
  width: 70%;
  background: #2962ff;
}
.skills .container .col .bar .mongo:before {
  width: 90%;
  background: #ce0505;
}
.skills .container .col .bar .express:before {
  width: 90%;
  background: #f7d203;
}
.skills .container .col .bar .mongoose:before {
  width: 85%;
  background: #2fdf7e;
}
.skills .container .col .bar .nodejs:before {
  width: 82%;
  background: #298521;
}
.skills .container .col .bar .vcs:before {
  width: 88%;
  background: #f14e32;
}
.skills .container .col .bar .c:before {
  width: 96%;
  background: #1771e7;
}
.skills .container .col .bar .heroku:before {
  width: 75%;
  background: #ffae00;
}

/* skills media queries starts*/
@media screen and (max-width: 600px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }
  .skills .container .row {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
    padding-top: 2rem;
  }
  .skills .container .col {
    margin-top: 5px;
    width: 100%;
  }
  .skills .container .col .bar {
    margin-bottom: 10px;
    padding: 10px;
  }
  .skills .container .col .bar .line {
    height: 0.8rem;
  }
}
/* skills media queries ends*/
/* _________________________skills section ends______________________________ */

/* __________________________contact section Starts____________________________ */

.contact {
  background: #e5ecfb;
  min-height: 60vh;
}
.contact .container {
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 1.5rem;
  margin: 2rem 5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.contact .content .image-box {
  max-width: 60%;
  margin-left: 4rem;
}
.contact .content .image-box img {
  width: 100%;
  height: 40rem;
  position: relative;
}
.contact .content form {
  width: 45%;
  margin-right: 3.5rem;
}
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}
.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}
.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid rgb(115, 3, 167);
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: rgb(115, 3, 167);
}
form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}
form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}
form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}
form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: none;
  border-radius: 5px;
  padding: 13px 25px;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}
.button-area button:hover {
  background: #421cecf5;
}
.button-area span {
  font-size: 17px;
  padding: 1rem;
  display: none;
}
.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}
.button-area button:hover i {
  left: 8px;
}
/* contact section media queries starts */
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }
  .contact .container {
    margin: 3rem 0 2rem 0;
  }
  .contact .container .content {
    padding: 18px 12px;
  }
  .contact .content .image-box {
    display: none;
  }
  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }
}

/* __________________________contact section Ends_______________________________ */

/* __________________________Footer section Start_______________________________ */

.footer {
  min-height: auto;
  padding-top: 0;
  background: rgb(0, 1, 43);
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: #ffae00;
}
.footer .box-container .box a {
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #ffae00;
}
.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}
.footer .box-container .box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #ffae00;
}
.footer .credit {
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  border-top: 0.1rem solid #fff3;
}
.footer .credit a {
  color: #ffae00;
}
.footer .fa {
  color: #e90606;
  margin: 0 0.3rem;
  font-size: 1.5rem;
  animation: pound 0.35s infinite alternate;
}
@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 1.5rem;
  }
  .footer .box-container .box p {
    padding: 0.7rem;
  }
  .footer .box-container .box .share a {
    padding: 1.2rem;
  }
}
/* footer section ends */

/* common media queries starts*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  body {
    padding-right: 0;
  }
  section {
    padding: 2rem;
  }
}
/* common media queries ends*/
/* __________________________Footer section Ends_______________________________ */
